:root {
  --margin: 6vw;

  --battersea-blue: #25384A;
  --stag-yellow: #f1b53d;
  --purple: #901a9d;
  --teal: #00a4b1;
  --sports-park-green: #349353;
  --red: #cb3340;
  --orange: #d57903;
  --research-park-blue: #365ac4;
  --fawn: #c04d3a;
  --flamingo: #ef6181;
  --pink: #fc9bc1;
  --plum: #872046;


  --pri-col: var(--battersea-blue);
  --sec-col: var(--teal);

  --teamA-col: var(--red);
  --teamB-col: var(--research-park-blue);
}

html {
  /* Explicitly set background color */
  background-color: transparent;

  /* Disable scrollbars by clipping page overflow */
  overflow: hidden;

  /* Set default font family */
  font-family: proxima-nova, sans-serif;

  /* Set responsive root font size to 43.2px at 1080p */
  font-size: 4vh;

  font-variant-numeric: tabular-nums;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.grad-1 {
  color: white;
  background: linear-gradient(
    45deg,
    color-mix(in srgb, var(--pri-col) 80%, transparent),
    color-mix(in srgb, var(--pri-col) 80%, transparent),
    color-mix(in srgb, var(--sec-col) 100%, transparent),
    color-mix(in srgb, var(--pri-col) 80%, transparent)
  );
  background-size: 600% 600%;
  animation: gradient 15s ease infinite;
}

.grad-2 {
  color: white;
  background: linear-gradient(
    -45deg,
    color-mix(in srgb, var(--pri-col) 80%, transparent),
    color-mix(in srgb, var(--pri-col) 80%, transparent),
    color-mix(in srgb, var(--sec-col) 100%, transparent),
    color-mix(in srgb, var(--pri-col) 80%, transparent)
  );
  background-size: 600% 600%;
  animation: gradient 15s ease infinite;
}

.grad-teamA {
  color: white;
  background: linear-gradient(
    45deg,
    color-mix(in srgb, var(--teamA-col) 60%, transparent),
    color-mix(in srgb, var(--teamA-col) 80%, transparent),
    color-mix(in srgb, var(--teamA-col) 100%, transparent),
    color-mix(in srgb, var(--teamA-col) 80%, transparent)
  );
  background-size: 600% 600%;
  animation: gradient 15s ease infinite;
}

.grad-teamB {
  color: white;
  background: linear-gradient(
    45deg,
    color-mix(in srgb, var(--teamB-col) 50%, transparent),
    color-mix(in srgb, var(--teamB-col) 80%, transparent),
    color-mix(in srgb, var(--teamB-col) 100%, transparent),
    color-mix(in srgb, var(--teamB-col) 80%, transparent)
  );
  background-size: 600% 600%;
  animation: gradient 10s ease infinite;
}

.grad-light {
  color: #222;
  background: linear-gradient(
    45deg,
    #eeeeeebb,
    #eeeeeebb,
    #ffffffbb,
    #eeeeeebb
  );
  background-size: 600% 600%;
  animation: gradient 10s ease infinite;
}

.line {
  /* Prevent text wrapping and hide overflow */
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
  padding: 1vh 2vh;
}

.l3rd-1 {
  width: min-content;
  font-weight: 700;
  font-size: 4vh;
  border-radius: 20px 20px 20px 0px;
}

.l3rd-2 {
  width: min-content;
  font-weight: 400;
  font-size: 3vh;
  border-radius: 0px 20px 20px 20px;
}

.line-upper {
  text-align: center;
  color: white;
  font-weight: 800;
  font-size: 4vh;
  border-radius: 1vw 1vw 0 0;
}

.line-lower {
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 3vh;
  border-radius: 0 0 1vw 1vw;
}

.time-sm {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 3vh;
}

.time {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  /* font-family: proxima-nova, sans-serif; */
  font-weight: 400;
  /* font-style: normal; */
  font-size: 16vh;
  padding: 0.2vh 5vw;
  color: white;
}
