:root {
  --margin: 6vw;

  /* --battersea-blue: #25384A;
  --stag-yellow: #f1b53d;
  --purple: #901a9d;
  --teal: #00a4b1;
  --sports-park-green: #349353;
  --red: #cb3340;
  --orange: #d57903;
  --research-park-blue: #365ac4;
  --fawn: #c04d3a;
  --flamingo: #ef6181;
  --pink: #fc9bc1;
  --plum: #872046; */

  --battersea-blue: 38, 57, 75;
  --stag-yellow: 241, 181, 59;
  --purple: 145, 26, 158;
  --teal: 0, 167, 179;
  --sports-park-green: 51, 148, 83;
  --red: 204, 51, 64;
  --orange: 211, 121, 3;
  --research-park-blue: 54, 89, 196;
  --fawn: 192, 78, 57;
  --flamingo: 239, 97, 130;
  --pink: 252, 156, 194;
  --plum: 136, 32, 70;

  --pri-col: var(--battersea-blue);
  --sec-col: var(--teal);

  --teamA-col: var(--red);
  --teamB-col: var(--research-park-blue);
}

html {
  /* Explicitly set background color */
  background-color: transparent;

  /* Disable scrollbars by clipping page overflow */
  overflow: hidden;

  /* Set default font family */
  font-family: proxima-nova, sans-serif;

  /* Set responsive root font size to 43.2px at 1080p */
  font-size: 4vh;

  font-variant-numeric: tabular-nums;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes slideIn {
  /* Fade in by increasing opacity to 1 and slide up by moving up at the same time */
  from {
    left: -10vmax;
    opacity: 0;
  }
  to {
    left: var(--margin);
    opacity: 1;
  }
}

@keyframes fadeOut {
  /* Fade out by reducing opacity to 0 */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.grad-1 {
  color: white;
  background: linear-gradient(
    45deg,
    rgba(var(--pri-col), 0.8),
    rgba(var(--pri-col), 0.8),
    rgba(var(--sec-col), 1),
    rgba(var(--pri-col), 0.8)
  );
  background-size: 600% 600%;
  animation: gradient 10s ease infinite;
}

.grad-2 {
  color: white;
  background: linear-gradient(
    -45deg,
    rgba(var(--pri-col), 0.8),
    rgba(var(--pri-col), 0.8),
    rgba(var(--sec-col), 1),
    rgba(var(--pri-col), 0.8)
  );
  background-size: 600% 600%;
  animation: gradient 10s ease infinite;
}

.grad-teamA {
  color: white;
  background: linear-gradient(
    45deg,
    rgba(var(--teamA-col), 0.6),
    rgba(var(--teamA-col), 0.8),
    rgba(var(--teamA-col), 1),
    rgba(var(--teamA-col), 0.8)
  );
  background-size: 600% 600%;
  animation: gradient 10s ease infinite;
}

.grad-teamB {
  color: white;
  background: linear-gradient(
    45deg,
    rgba(var(--teamB-col), 0.6),
    rgba(var(--teamB-col), 0.8),
    rgba(var(--teamB-col), 1),
    rgba(var(--teamB-col), 0.8)
  );
  background-size: 600% 600%;
  animation: gradient 10s ease infinite;
}

.grad-light {
  color: #222;
  background: linear-gradient(
    45deg,
    rgba(237, 237, 237, 0.6),
    rgba(237, 237, 237, 0.6),
    rgba(255, 255, 255, 0.8),
    rgba(237, 237, 237, 0.6)
  );
  background-size: 600% 600%;
  animation: gradient 10s ease infinite;
}

.line {
  /* Prevent text wrapping and hide overflow */
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
  padding: 1vh 2vh;
}

.l3rd-1 {
  width: min-content;
  font-weight: 700;
  font-size: 4vh;
  border-radius: 20px 20px 20px 0px;
}

.l3rd-2 {
  width: min-content;
  font-weight: 400;
  font-size: 3vh;
  border-radius: 0px 20px 20px 20px;
}

.line-upper {
  text-align: center;
  color: white;
  font-weight: 800;
  font-size: 4vh;
  border-radius: 1vw 1vw 0 0;
}

.line-lower {
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 3vh;
  border-radius: 0 0 1vw 1vw;
}

.time-sm {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 3vh;
}

.time {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 16vh;
  padding: 0.2vh 5vw;
  color: white;
}
